@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;400;700&display=swap');
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

body{
    overflow-x: hidden;
}

/*-------------------------------------- Landing Page  ------------------------------------------*/

.landing-page{
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.bg-image{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: none;
    filter: blur(5px) grayscale(30%);
}

.landing-page h1{
    position: absolute;
    z-index: 1;
    color: white;
    align-self: end;
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    width: 40vw;
    margin-bottom: 25vh;
}

.landing-page button{
    position: absolute;
    z-index: 1;
    align-self: end;
    margin-bottom: 10vh;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border: none;
    padding: 20px;
    width: 20vw;
    font-family: 'DM Sans', sans-serif;
    background-color: #FA823F;
}

/*----------------------------------------- Process  ---------------------------------------------*/

.process{
    height: 100vh;
    width: 100vw;
    background-color: #FA823F;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.process h1{
    height: 30vh;
    padding-top: 10vh;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.process .list{
    height: 50vh;
    text-align: center;
}

.process svg{
    padding: 40px;
    border: 3px solid black;
    border-radius: 100px;
}

.process .list h2{
    font-weight: bold;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 3vh;
}

.process .list p{
    font-size: 30px;
    font-weight: thin;
    padding-inline: 5vw;
}

.process button{
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 20vw;
    margin-inline: 40vw;
}

@media only screen and (orientation: portrait) {
    /*-------------------------------------- Landing Page  ------------------------------------------*/
    .bg-image{
        object-fit: cover;
    }
    .landing-page h1{
        font-size: 90px;
        width: 90vw;
    }
    .landing-page button{
        margin-bottom: 10vh;
        font-size: 50px;
        width: 40vw;
    }


    /*----------------------------------------- Process  ---------------------------------------------*/

    .process h1{
        font-size: 90px;
    }

    .process .list{
        height: 55vh;
        text-align: center;
    }

    .process .list h2{
        font-size: 45px;
    }

    .process .list p{
        padding-inline: 5vw;
    }

    .process .list .finale{
        padding-inline: 25vw;
    }

    .process button{
        font-size: 50px;
        width: 40vw;
        margin-inline: 30vw;
    }
}