nav{
    height: 30vh;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo{
    position: absolute;
    width: 16%;
    z-index: 1;
}
.nav-logo-secondary{
    position: absolute;
    width: 16%;
    z-index: 1;
}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-inline: 3vw;
    font-family: 'DM Sans', sans-serif;
}
.nav-item:hover{
    text-decoration: none;
}
.nav a:hover{
    color: #ffffff;
}

.nav p {
    cursor: pointer;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav p:focus,
.nav p:hover {
    color: #ffffff;
}

.nav p:focus:after,
.nav p:hover:after {
    width: 100%;
    left: 0%;
}

.nav p:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #FA823F;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.nav-buffer{
    height: 30vh;
}

/*-------------------------------  Secondary ------------------------------------*/

.nav-item-secondary{
    color: black;
    text-decoration: none;
    font-size: 40px;
    margin-inline: 3vw;
    font-family: 'DM Sans', sans-serif;
}
.nav-item-secondary:hover{
    text-decoration: none;
}
.nav-secondary a:hover{
    color: #000000;
}

.nav-secondary p {
    cursor: pointer;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav-secondary p:focus,
.nav-secondary p:hover {
    color: #000000;
}

.nav-secondary p:focus:after,
.nav-secondary p:hover:after {
    width: 100%;
    left: 0%;
}

.nav-secondary p:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.nav-buffer-secondary{
    height: 25vh;
}

/*--------------------------------------------------------------------------------*/

@media only screen and (orientation: portrait) {
    nav{
        height: 20vh;
    }
    .nav-buffer{
        height: 20vh;
    }
    .nav-buffer-secondary{
        height: 18vh;
    }
    .nav-logo{
        position: absolute;
        height: 30%;
        width: auto;
        z-index: 1;
        margin-top: 15vh;
    }
    .logo-wrapper{
        display: flex;
        
        justify-content: center;
    }
    .nav-logo-secondary{
        display: none;
    }
}