.nav-items {
    font-family: 'Be Vietnam Pro', serif;
    background-color: #e0e0e0;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 20vh;
    display: flex;
    align-items: center;
}
#logo{
    width: 150px;
}
.nav-items a{
    text-decoration: none;
    font-family: 'Anek Devanagari', sans-serif;
}
.option {
    font-family: 'Anek Devanagari', sans-serif;
    color: black;
    padding-inline: 14px 2vw;
    font-size: 1.75rem;
    transform: 0.75s;
}
.option:hover {
    transform: scale(1.1);
    font-weight: bold;
    color: orange;
    /* border-radius: 50px; */
}
.nav-items button{
    display: flex;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px #838383;
    font-size: 1.75rem;
    /* border-radius: 10px; */
    /* box-shadow: 3px 3px; */
    margin-inline: 0px;
    transform: 0.75s;
}

@media only screen and (orientation: portrait) {
    .nav-items{
        top: 0;
        width: 100%;
        z-index: 3;
        height: 10vh;
        display: flex;
        align-items: center;
    }
    .option {
        padding-inline: 6px;
    }
    .nav-items button{
        margin-inline: 20px;
    }
}