#services-title{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container{
    text-align: center;
    width: 80vw;
}

.icon{
    margin-right: 3vw;
}

.job-type{
    text-align: center;
}

.description{
    text-align: left;
}

.we-do-title, .we-dont-title{
    text-align: left;
}
.we-do, .we-dont li{
    text-align: left;
}

hr{
    border: 1px solid #3C92E5;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

@media only screen and (orientation:portrait){
    .col-4{
        max-width: none;
        min-width: none;
        width: 100vw;
    }
    .service-section{
        margin-bottom: 10vh;
    }
    .icon{
        height: 150px;
        width: 150px;
    }
    .row li{
        width: 70vw;
    }
}